* {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    font-size: +20px;
    text-align: center;
    list-style-position: inside;
}

#Links {
    color: beige;
    background-color: orange;

}

.Subheading {
    font-weight: 700;
    color: black;
    background-color: red;
}

.Heading {
    font-weight: 900;
    font-size: x-large;
    color: red;
    background-color: black;
}

.Introduction {
    color: darkblue;
    background-color: lightgreen;
}

.img  {
    width: auto;
    height: 500px;
    margin: auto;
    display: block;
    
}

.Ingredients, .Method {
    font-weight: 300;
}

#Cookie {
    color: #EADDCA;
    background-color: #7B3F00;
}



