html {
    background-color: peachpuff;
}

* {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    list-style-position: inside;
    box-sizing: border-box;
}

body.index {
    margin: 75px auto;
}

body {
   
    max-width: 800px;
    margin: 10px auto;

}

.bgcolor {
    background-color: beige;
    border: 5px solid black;
    padding: 10px;
}

.Introduction {
    font-size: large;
    color: darkred;
    margin: 20px 80px;

}

.Heading {
    font-weight: 900;
    text-align: center;
    
}

.img {
    display: block;
    margin: auto;
    
}



#Home {
    margin: 2px 254px 2px 249px;
}

#Home.Cookie {
    text-align: center;
    margin-left: 355px;
}

.Links {
   margin-left: 5px;
}

.Nextpg, .Links , #Home{
    background-color: black;
    color: white;
    padding: 3px;
}

#Links {
    list-style: none;
    margin: 5px 30px;
    padding: 10px;
    background-color: #98fb98;
    width: 250px;
}


.Subheading {
    margin: 20px;
    color: white;
}

.container {
    background-color: #7B3F00;
    border: 5px solid #5C4033;
    margin: 5px;
}



.Ingredients, .Method {
    font-weight: 300;
    margin-left: -20px;
}

#Cookie, #Chicken, #Mac {
    color: #eee;
    

}



